.page-header {
        background-color: #d99c34;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
    }

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        text-decoration: none;
    }

titule {
	color: #59302e;
	padding-left: 20px;
	font-size: 36pt;
 }

ul {
	font-size:20px;
	padding-left: 0px;
}	

form{
	text-align: center;
}