<html>
   <head>
      <title> Dia de reservaciones</title>
	</head>
	<body>
	Escoger dia entre {{fecmin}} y {{fecmax }} y numero de personas<br/>
	<form action="/usuario/hora_reserva/{{usuario.user}}/{{rest.id}}/" method="post">
{% csrf_token %}
Fecha: 
<input type="date" name="fecha" min = {{fecmin}} max= {{fecmax }}><br>
Numero de personas
<select name="cantidad">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
<input type="submit" value="Submit">



</form> 


	</body>
</html>