<html>
   <head>
      <title>System</title>
	  <link href="C:/Users/LuisOrlando/Documents/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	  
	  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
	<nav class="navbar navbar-default">
	<h1 class="navbar-text">Sistema de reservaciones</h1><br/>
	</nav>
	
	<div class="col-sm-4">
	    <a href="/usuario/dia_reserva/{{usuario.user}}/{{opciones.id}}">Reservar</a><br/>
		<a href="{% url 'reservas:informacion' opciones.id %}">Informacion del restaurante</a><br/>
		<a href="/usuario/mis_reservas/{{usuario.user}}/{{opciones.id}}/">Mis reservaciones</a><br/>
	</div>
	
	</body>
</html>