<!DOCTYPE html>
<html lang="en">
<head>

  <div class="page-header">
  <title>Login</title>
     <h2>login</h2>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="caja1"></div>
<div class="caja2"></div>
<div class="caja3"></div>
<div class="caja4"></div>
</div>


<body>
<div class= "lateral">

<li> ingreso </li>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<li><a href="/users/registrar/" > inscribir nuevo usuario </a></li>

</div>

<div class="post">

<div class= "col-xs-6" style="background-color:lavenderblush;">
<form action="{% url 'users:ingresar' %}" method="post">
{% csrf_token %}
<ul>nombre</ul>
<div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="email" type="text" class="form-control" name="nombre" placeholder="nombre">
</div>
<ul>usuario</ul>
<div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="email" type="text" class="form-control" name="usuario" placeholder="usuario">
</div>
<ul>password</ul>
<div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="password" type="password" class="form-control" name="password" placeholder="Password">
</div>
<ul></ul>
<bnt><input type="submit" value="Submit" class="btn btn-default"></bnt>

</form>
</div>
</div>
</body>



</html>