<div class= "page-header">

{% load staticfiles %}
<titule>login</titule>
<link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}" />

</div>

<div class= "header">

<ul> ingreso </ul>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<li><a href="/registrar/" > inscribir nuevo usuario </a></li>

</div>

<div class="post">

<form action="{% url 'users:ingresar' %}" method="post">
{% csrf_token %}
<ul>nombre</ul>
<input type="text" name="nombre">
<ul>usuario</ul>
<input type="text" name="usuario">
<ul>password</ul>
<input type="text" name="password">
<ul></ul>
<bnt><input type="submit" value="Submit"></bnt>

</form>
</div>