<div class= "page-header">

{% load staticfiles %}
<title>login</title>
<head><h1>login</h1></head>
<link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}" />

</div>

<div class= "lateral">

<li> ingreso </li>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<li><a href="/users/registrar/" > inscribir nuevo usuario </a></li>

</div>

<div class="post">

<form action="{% url 'users:ingresar' %}" method="post">
{% csrf_token %}
<ul>nombre</ul>
<input type="text" name="nombre">
<ul>usuario</ul>
<input type="text" name="usuario">
<ul>password</ul>
<input type="password" name="password">
<ul></ul>
<bnt><input type="submit" value="Submit"></bnt>

</form>
</div>

<div class="caja1"></div>
<div class="caja2"></div>
<div class="caja3"></div>
<div class="caja4"></div>